* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
:root {
    --common-margin: 1rem;
    --common-height: auto;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
    float: right;
}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/*Class Selectors*/
.box {
    margin: var(--common-margin);
    padding: var(--common-margin);
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #ddd;
    color: #000;
    clear: both; 
}
aside h2 {
    position: absolute;
    top: 27px;
    left: 150px;
}